.c-item{
    height: 500px;
   }
   
   .c-img{
       height: 100%;
       object-fit: cover;
       
   }
   
   .c-item2{
    height: 500px;
   }
   
   .c-img2{
       height: 100%;
       object-fit: cover;
       
   }
   
   .c-item3{
    height: 500px;
   }
   
   .c-img3{
       height: 100%;
       object-fit: cover;
       
   }
   
   .c-link1{
        position: absolute;
     top: 80px;
     right: 0;
   }

   .navbar{
    background-color: rgb(194, 64, 64);
}


.custom-announcement{
    background-color: #f61010f3; /* Change to your desired background color */
     width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding: 20px; /* Add padding for spacing */
    color: white; /* Text color */
    box-sizing: border-box; /* Include padding in width calculation */
    margin: 0; /* Remove any default margin */

}

 body{
                background-color: rgb(255, 255, 255);
            }