{% extends 'base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<body>
<style>

    body{
        background-color: rgb(255, 255, 255);
    }
</style> <title> MMIS Notes</title>
<div class="container">
    <h1 class="text-center"> Welcome to MMIS_Notes by JAMMR </h1>
    <section id="learn" class="p-5"> 

        <div class="container">
      <div class="row alignment-items-center.justify-content-between">
      <div class="col-md">
      
        <img class="img fluid w-100" src="{% static 'smurfcat.jpeg' %}" alt="Background Image" /> 
        <p class="text-center">( Smurf Cat)</p>
      </div>
      <div class="col-md p-5">
        <h1 class="text-center"> Welcome </h1>
      <p class="text-center lead "> Welcome to MMIS_notes by JAMMR! a website where you can access more school material for you to learn.
      </div>
      </div>
        </div>
      </section>
<!-- Second Part -->

<section>
      <div class="container">

        <div class="row alignment-items-center.justify-content-between">
            <div class="col-md">
                <h1 class="text-center"> Why make this website?</h1>
                <p class="text-center lead"> This website was made by JAMMR as a research title, we wanted to make something that can benefit the school, students and staff.</p>
            
            </div>
            <div class="col-md">

            </div>
        </div>
        </div>
    </section>
<!-- Third part-->
   
<section>
      <div class="container">

        <div class="row alignment-items-center.justify-content-between">
            <div class="col-md">
            
            </div>
            <div class="col-md">
                <h1 class="text-center"> Who are the people behind JAMMR?</h1>
                <p class="lead text-center "> You will never know because we are sussy among us HAHAHAHAH but for real we are group 2? we are from saint john bosc- I mean saint pedro calungsod of course</p>
            </div>
        </div>
        </div>
    </section> 
     

</body>
</html>

{% endblock %}